@model IEnumerable<MediaRadar.ServiceReference.Ad>

@{
    ViewBag.Title = "Full Ads List";
}

<h3 class="well well-sm"><span class="glyphicon glyphicon-list-alt" style="color:#f93"> </span> &nbsp;<strong>List of Ads for Cover</strong></h3>
<table id="adlist" class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Ad ID</th>
            <th>Brand ID</th>
            <th>Brand Name</th>
            <th>NumPage</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ads in Model)
        {
            <tr>
                <td>@ads.AdId</td>
                <td>@ads.Brand.BrandId</td>
                <td>@ads.Brand.BrandName</td>
                <td>@ads.NumPages</td>
                <td>@ads.Position</td>
            </tr>
        }

    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var dataTable = $("#adlist").DataTable();
            dataTable.order([2, 'asc']).draw();

        });
    </script>

}



